<!DOCTYPE html>
<html>
  <head>
    <title>PageView Reports</title>
    <script language="javascript" type="text/javascript" src="static/js/WikipediaStatistics14.js"></script>
    <link   rel="stylesheet"      type="text/css"        href="static/css/pageviews.css" />
  </head>
  <body>
  
