
<table class="b">

  [% headers = data.shift %] 
  [% FOREACH header IN headers %]
  <th>[% header %] </th>
  [% END %]

  [% WHILE (row = data.shift) %]
    <tr>
    <td> [% row.shift %] </td>
      <script language='javascript'>
        [% FOREACH cell IN row %]
          tdc('#3BFF3B','+49%, 54.81%, 1st','[% cell %]&nbsp;M');
        [% END %] 
      </script>
    </tr>
  [% END %]

</table>

