# ignore all
*

# expect this file
!.gitignore
!perl/
!bash/

# select scripts
!*.pl
!*.pm
!*.sh
!.gitattributes

# and readme's
!read*

# advice Linus
# use add -f to add few files in ignored folders
# and now you're done - git won't ignore them, since explcitly you told git to track them
# http://git.661346.n2.nabble.com/negated-list-in-gitignore-no-fun-td1675067.html
