# ignore all
*

# expect this file
!.gitignore
!perl/
!perl/UA

!t/
!t/*.t
!t/Generate/
!t/Generate/*.pm

!bash/
!conf-editors
!conf-editors/
!conf-editors/*.pm
!conf-mobile
!conf-mobile/
!conf-mobile/*.pm

# documentation
!docs/
!docs/*.dia

# select scripts
!*.pl
!*.pm
!*.sh
# file specifying line-ending characters
!.gitattributes
!testdata/
!testdata/*
!testdata/*/*.gz

# and readme's
!read*

# basic wikistats configuration
!conf-basic
!conf-basic/
!csv_basic
!csv_basic/
!reports_basic/
!logs_basic/



# advice Linus
# use add -f to add few files in ignored folders
# and now you're done - git won't ignore them, since explcitly you told git to track them
# http://git.661346.n2.nabble.com/negated-list-in-gitignore-no-fun-td1675067.html
